@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px;">
    <div class="btn-group" role="group">
        <a class="btn btn-primary text-white" href="@Url.Action("Details", new { id = Model})">
            <i class="far fa-list-alt"></i>
        </a>
        <a class="btn btn-success text-white" href="@Url.Action("Edit", new { id = Model})">
            <i class="far fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" href="@Url.Action("Delete",new { id = Model})">
            <i class="far fa-trash-alt"></i>
        </a>
    </div>
</td>